@media all and (min-width: 576px){

    .container{
        width: 600px;
    }
    .col-sm{
        flex-basis: calc((100% /12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    .row-sm{
        display: flex;
        flex-direction: row;
    }

    .col-sm{
        flex-direction: row;
    }

}

@media all and (min-width: 768px){

    .container{
        width: 760px;
    }

   
    .col-md{
        flex-basis: calc((100% /12) * 6);
        max-width: calc((100% / 12) * 6);
    }


    .col-md-12{
        flex-basis: calc((100% /12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    [class*="col-offset"]{  
        display: none;
        }
 
    
  
}

@media all and (min-width: 992px){
    body{
        background-color: black
    };

    .container{
        width: 990px;
    }
    
    .col-lg{
        flex-basis: calc((100% /12) * 3);
        max-width: calc((100% / 12) * 3);
    }

  
    .col-lg-6{
        flex-basis: calc((100% /12) * 6);
        max-width: calc((100% / 12) * 6);
    }

   
    [class*="col-offset"]{  
        display: none;
        }
 

}


